body {
  background-image: url("../img/background.jpg");
}

#loginForm form {
  display: block;
  margin: 0 auto;
}

#loginHeader img {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

#hitmontop {
  display: inline-block;
  margin: 0 auto;
  margin-top: -64px;
  height: 280px;
}

#hitmontopWrap {
  display: block;
  margin: 0 auto;
  text-align: center;
}

p {
  text-align: center;
}
