#registrationHeader img {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

#blastoise {
  display: block;
  margin: auto;
  height: 80%;
  margin-top: 26px;
  opacity: 0.20;
}

body {
  background-image: url("../img/background.jpg");
}

p {
  text-align: center;
}

a {
  color: #2A2A57;
  text-decoration: none;
}

a:visited {
  color: #2A2A57;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px 4px white;
}
